<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>


<div class="navbar" th:fragment="navapalah">
    <div class="wrapper">
        <div class="logo">
            <img src="https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/images/gnb-desktop-120x32.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a th:href="@{/api/check/index1/}">Home</a>
                </li>

                <th:block th:if="${USR_IDZ != null}" th:utext="${HTML_MENUZ}" />
                <li><a href="#">PROFILE</a>
                    <ul class="menu-dropdown"><li><a href="/api/menu/financeone">VISI</a></li>
                        <li><a href="/api/menu/financetwo">MISI</a></li>
                        <li><a href="/api/menu/financethree">SLOGAN</a></li></ul></li><li><a href="#">PRODUCT</a><ul class="menu-dropdown"><li><a href="/api/category//v1/category">CATEGORY</a></li><li><a href="/api/">PRODUCT</a></li></ul></li><li><a href="#">ABOUT</a><ul class="menu-dropdown"><li><a href="/api/menu/absensi">CONTACT</a></li></ul></li>

                <li>
                    <a th:if="${USR_IDZ != null}" href="/api/check/logout">logout</a>
                </li>
                <li>
                    <a th:if="${USR_IDZ == null}" href="/api/check/register">Register</a>
                </li>
                <li>
                    <a th:if="${USR_IDZ == null}" href="/api/check/signin">Sign In</a>
                </li>
            </ul>

        </div>
    </div>
</div>


</body>
</html>